{% extends 'main/base.html' %}

{% block title %} Index {% endblock %}

{% block content %}
<section class="hero-banner magic-ball">
    <div class="container">
        <div class="row align-items-center text-center text-md-left">
            <div class="col-md-6 col-lg-5 mb-5 mb-md-0">
                <h1>GET TO KNOW YOURSELF</h1>
                <p>
                    How's Life is a platform to analyze one's behavior by analyzing the post's on the users's Social Media feed.
                    It has an Interactive chatbot where an user can share his/her's feelings as well as a platform where unknown's can chat in a group. 
                  </p>
                <a class="button button-hero mt-4" href="{% url 'main:login' %}">Get Started</a>
              </div>
              <div class="col-md-6 col-lg-7 col-xl-6 offset-xl-1">
                  {% load static %}
                  <img class="img-fluid" src="{% static 'img/landing_1.png' %}" alt="">
              </div>
          </div>
      </div>
  </section>
{% endblock %}